# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [4]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 3. Assign it to a variable called wine

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [8]:
df.drop([0, 3, 6, 8, 10, 12,13],axis = 1, inplace = True)

### Step 5. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [9]:
df.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

In [10]:
df.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [42]:
df.loc[:4, 'alcohol'] = np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [38]:
df.loc[3:5, 'magnesium'] = np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [43]:
df.alcohol.fillna(10, inplace = True)
df.magnesium.fillna(100, inplace = True)

In [44]:
df.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.0,1.71,15.6,127,3.06,2.29,1.04
1,10.0,1.78,11.2,100,2.76,1.28,1.05
2,10.0,2.36,18.6,101,3.24,2.81,1.03
3,10.0,1.95,16.8,100,3.49,2.18,0.86
4,10.0,2.59,21.0,100,2.69,1.82,1.04

### Step 9. Count the number of missing values

In [26]:
df.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [30]:
import numpy as np
arr = np.array(np.random.randint(0, 10, size = 10))

In [31]:
arr

array([9, 5, 3, 6, 1, 5, 9, 0, 1, 6])

### Step 11.  Set the rows of the random numbers in the column

In [45]:
df.alcohol[arr] = np.nan
df.head()

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,10.0,2.36,18.6,101,3.24,2.81,1.03
3,NaN,1.95,16.8,100,3.49,2.18,0.86
4,10.0,2.59,21.0,100,2.69,1.82,1.04

### Step 12.  How many missing values do we have?

In [47]:
df.isnull().sum()

alcohol              6
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 14. Print only the non-null values in alcohol

In [50]:
df[df.alcohol.notnull()]['alcohol']

2      10.00
4      10.00
7      14.06
8      14.83
10     14.10
11     14.12
12     13.75
13     14.75
14     14.38
15     13.63
16     14.30
17     13.83
18     14.19
19     13.64
20     14.06
21     12.93
22     13.71
23     12.85
24     13.50
25     13.05
26     13.39
27     13.30
28     13.87
29     14.02
30     13.73
31     13.58
32     13.68
33     13.76
34     13.51
35     13.48
       ...
148    13.32
149    13.08
150    13.50
151    12.79
152    13.11
153    13.23
154    12.58
155    13.17
156    13.84
157    12.45
158    14.34
159    13.48
160    12.36
161    13.69
162    12.85
163    12.96
164    13.78
165    13.73
166    13.45
167    12.82
168    13.58
169    13.40
170    12.20
171    12.77
172    14.16
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 172, dtype: float64

### Step 13. Delete the rows that contain missing values

In [51]:
df.dropna()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
2,10.00,2.36,18.6,101,3.24,2.81,1.03
4,10.00,2.59,21.0,100,2.69,1.82,1.04
7,14.06,2.15,17.6,121,2.51,1.25,1.06
8,14.83,1.64,14.0,97,2.98,1.98,1.08
10,14.10,2.16,18.0,105,3.32,2.38,1.25
11,14.12,1.48,16.8,95,2.43,1.57,1.17
12,13.75,1.73,16.0,89,2.76,1.81,1.15
13,14.75,1.73,11.4,91,3.69,2.81,1.25
14,14.38,1.87,12.0,102,3.64,2.96,1.20
15,13.63,1.81,17.2,112,2.91,1.46,1.28
16,14.30,1.92,20.0,120,3.14,1.97,1.07
17,13.83,1.57,20.0,115,3.40,1.72,1.13
18,14.19,1.59,16.5,108,3.93,1.86,1.23
19,13.64,3.10,15.2,116,3.03,1.66,0.96
20,14.06,1.63,16.0,126,3.17,2.10,1.09
21,12.93,3.80,18.6,102,2.41,1.98,1.03
22,13.71,1.86,16.6,101,2.88,1.69,1.11
23,12.85,1.60,17.8,95,2.37,1.46,1.09
24,13.50,1.81,20.0,96,2.61,1.66,1.12
25,13.05,2.05,25.0,124,2.68,1.92,1.13
26,13.39,1.77,16.1,93,2.94,1.45,0.92
27,13.30,1.72,17.0,94,2.19,1.35,1.02
28,13.87,1.90,19.4,107,2.97,1.76,1.25
29,14.02,1.68,16.0,96,2.33,1.98,1.04
30,13.73,1.50,22.5,101,3.25,2.38,1.19
31,13.58,1.66,19.1,106,3.19,1.95,1.09
32,13.68,1.83,17.2,104,2.69,1.97,1.23
33,13.76,1.53,19.5,132,2.74,1.35,1.25
34,13.51,1.80,19.0,110,2.53,1.54,1.10
35,13.48,1.81,20.5,100,2.98,1.86,1.04
...,...,...,...,...,...,...,...
148,13.32,3.24,21.5,92,0.76,1.25,0.55
149,13.08,3.90,21.5,113,1.39,1.14,0.57
150,13.50,3.12,24.0,123,1.57,1.25,0.59
151,12.79,2.67,22.0,112,1.36,1.26,0.48
152,13.11,1.90,25.5,116,1.28,1.56,0.61
153,13.23,3.30,18.5,98,0.83,1.87,0.56
154,12.58,1.29,20.0,103,0.58,1.40,0.58
155,13.17,5.19,22.0,93,0.63,1.55,0.60
156,13.84,4.12,19.5,89,0.83,1.56,0.57
157,12.45,3.03,27.0,97,0.58,1.14,0.67
158,14.34,1.68,25.0,98,1.31,2.70,0.57
159,13.48,1.67,22.5,89,1.10,2.29,0.57
160,12.36,3.83,21.0,88,0.92,1.04,0.56
161,13.69,3.26,20.0,107,0.56,0.80,0.96
162,12.85,3.27,22.0,106,0.60,0.96,0.87
163,12.96,3.45,18.5,106,0.70,0.94,0.68
164,13.78,2.76,22.0,90,0.68,1.03,0.70
165,13.73,4.36,22.5,88,0.47,1.15,0.78
166,13.45,3.70,23.0,111,0.92,1.46,0.85
167,12.82,3.37,19.5,88,0.66,0.97,0.72
168,13.58,2.58,24.5,105,0.84,1.54,0.74
169,13.40,4.60,25.0,112,0.96,1.11,0.67
170,12.20,3.03,19.0,96,0.49,0.73,0.66
171,12.77,2.39,19.5,86,0.51,0.64,0.57
172,14.16,2.51,20.0,91,0.70,1.24,0.62
173,13.71,5.65,20.5,95,0.61,1.06,0.64
174,13.40,3.91,23.0,102,0.75,1.41,0.70
175,13.27,4.28,20.0,120,0.69,1.35,0.59
176,13.17,2.59,20.0,120,0.68,1.46,0.60
177,14.13,4.10,24.5,96,0.76,1.35,0.61

### Step 15.  Reset the index, so it starts with 0 again

In [52]:
df.reset_index(drop = True, inplace = True)
df.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,10.0,2.36,18.6,101,3.24,2.81,1.03
3,NaN,1.95,16.8,100,3.49,2.18,0.86
4,10.0,2.59,21.0,100,2.69,1.82,1.04

### BONUS: Create your own question and answer it.